In [2]:
import pandas as pd
import pathlib as path
import datetime as dt

In [3]:
moonchart_df = pd.read_csv('MoonChart2009.csv')
moonchart_df

          Date   Time Moon Type         Sign
0    1/11/2009   3:26      Full    Capricorn
1    1/26/2009   7:55       New     Aquarius
2     2/9/2009  14:49      Full     Aquarius
3    2/25/2009   1:34       New       Pisces
4    3/11/2009   2:37      Full       Pisces
5    3/26/2009  16:05       New        Aries
6     4/9/2009  14:55      Full        Aries
7    4/25/2009   3:22       New       Taurus
8     5/9/2009   4:01      Full       Taurus
9    5/24/2009  12:10       New       Gemini
10    6/7/2009  18:11      Full       Gemini
11   6/22/2009  19:34       New       Cancer
12    7/7/2009   9:21      Full       Cancer
13   7/22/2009   2:34       New       Cancer
14    8/6/2009   0:54      Full          Leo
15   8/20/2009  10:01       New          Leo
16    9/4/2009  16:02      Full        Virgo
17   9/18/2009  18:44       New        Virgo
18   10/4/2009   6:10      Full        Libra
19  10/18/2009   5:33       New        Libra
20   11/2/2009  19:13      Full      Scorpio
21  11/16/2009  19:13       New      Scorpio
22   12/2/2009   7:30      Full  Saggitarius
23  12/16/2009  12:02       New  Sagittarius
24  12/31/2009  19:12      Full    Capricorn

In [4]:
moonchart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       25 non-null     object
 1   Time       25 non-null     object
 2   Moon Type  25 non-null     object
 3   Sign       25 non-null     object
dtypes: object(4)
memory usage: 928.0+ bytes

In [5]:
moonchart_df.drop('Time', axis=1, inplace=True)
moonchart_df

          Date Moon Type         Sign
0    1/11/2009      Full    Capricorn
1    1/26/2009       New     Aquarius
2     2/9/2009      Full     Aquarius
3    2/25/2009       New       Pisces
4    3/11/2009      Full       Pisces
5    3/26/2009       New        Aries
6     4/9/2009      Full        Aries
7    4/25/2009       New       Taurus
8     5/9/2009      Full       Taurus
9    5/24/2009       New       Gemini
10    6/7/2009      Full       Gemini
11   6/22/2009       New       Cancer
12    7/7/2009      Full       Cancer
13   7/22/2009       New       Cancer
14    8/6/2009      Full          Leo
15   8/20/2009       New          Leo
16    9/4/2009      Full        Virgo
17   9/18/2009       New        Virgo
18   10/4/2009      Full        Libra
19  10/18/2009       New        Libra
20   11/2/2009      Full      Scorpio
21  11/16/2009       New      Scorpio
22   12/2/2009      Full  Saggitarius
23  12/16/2009       New  Sagittarius
24  12/31/2009      Full    Capricorn

In [6]:
# Convert Moon Type to boolean
# Create copy of pandas DataFrame
moon_bool = moonchart_df.copy()
# Replace string by boolean
moon_bool['Moon Type'] = moon_bool['Moon Type'].map({'Full': True, 'New': False})
print(moon_bool)

          Date  Moon Type         Sign
0    1/11/2009       True    Capricorn
1    1/26/2009      False     Aquarius
2     2/9/2009       True     Aquarius
3    2/25/2009      False       Pisces
4    3/11/2009       True       Pisces
5    3/26/2009      False        Aries
6     4/9/2009       True        Aries
7    4/25/2009      False       Taurus
8     5/9/2009       True       Taurus
9    5/24/2009      False       Gemini
10    6/7/2009       True       Gemini
11   6/22/2009      False       Cancer
12    7/7/2009       True       Cancer
13   7/22/2009      False       Cancer
14    8/6/2009       True          Leo
15   8/20/2009      False          Leo
16    9/4/2009       True        Virgo
17   9/18/2009      False        Virgo
18   10/4/2009       True        Libra
19  10/18/2009      False        Libra
20   11/2/2009       True      Scorpio
21  11/16/2009      False      Scorpio
22   12/2/2009       True  Saggitarius
23  12/16/2009      False  Sagittarius
24  12/31/2009       True    Capricorn

In [7]:
moonchart_df = pd.DataFrame(moon_bool)
moonchart_df

          Date  Moon Type         Sign
0    1/11/2009       True    Capricorn
1    1/26/2009      False     Aquarius
2     2/9/2009       True     Aquarius
3    2/25/2009      False       Pisces
4    3/11/2009       True       Pisces
5    3/26/2009      False        Aries
6     4/9/2009       True        Aries
7    4/25/2009      False       Taurus
8     5/9/2009       True       Taurus
9    5/24/2009      False       Gemini
10    6/7/2009       True       Gemini
11   6/22/2009      False       Cancer
12    7/7/2009       True       Cancer
13   7/22/2009      False       Cancer
14    8/6/2009       True          Leo
15   8/20/2009      False          Leo
16    9/4/2009       True        Virgo
17   9/18/2009      False        Virgo
18   10/4/2009       True        Libra
19  10/18/2009      False        Libra
20   11/2/2009       True      Scorpio
21  11/16/2009      False      Scorpio
22   12/2/2009       True  Saggitarius
23  12/16/2009      False  Sagittarius
24  12/31/2009       True    Capricorn

In [8]:
moonchart_df.rename(columns= {'Date':'Moon_Date', 'Moon Type':'Full_Moon'}, inplace=True)
moonchart_df

     Moon_Date  Full_Moon         Sign
0    1/11/2009       True    Capricorn
1    1/26/2009      False     Aquarius
2     2/9/2009       True     Aquarius
3    2/25/2009      False       Pisces
4    3/11/2009       True       Pisces
5    3/26/2009      False        Aries
6     4/9/2009       True        Aries
7    4/25/2009      False       Taurus
8     5/9/2009       True       Taurus
9    5/24/2009      False       Gemini
10    6/7/2009       True       Gemini
11   6/22/2009      False       Cancer
12    7/7/2009       True       Cancer
13   7/22/2009      False       Cancer
14    8/6/2009       True          Leo
15   8/20/2009      False          Leo
16    9/4/2009       True        Virgo
17   9/18/2009      False        Virgo
18   10/4/2009       True        Libra
19  10/18/2009      False        Libra
20   11/2/2009       True      Scorpio
21  11/16/2009      False      Scorpio
22   12/2/2009       True  Saggitarius
23  12/16/2009      False  Sagittarius
24  12/31/2009       True    Capricorn

In [9]:
# convert column to datetime pandas
moonchart_df['Moon_Date'] = pd.to_datetime(moonchart_df['Moon_Date'])
moonchart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Moon_Date  25 non-null     datetime64[ns]
 1   Full_Moon  25 non-null     bool
 2   Sign       25 non-null     object
dtypes: bool(1), datetime64[ns](1), object(1)
memory usage: 553.0+ bytes

In [10]:
# date in MM-DD-YYYY format
moonchart_df['Moon_Date'] = moonchart_df['Moon_Date'].dt.strftime('%m-%d-%Y')
moonchart_df

     Moon_Date  Full_Moon         Sign
0   01-11-2009       True    Capricorn
1   01-26-2009      False     Aquarius
2   02-09-2009       True     Aquarius
3   02-25-2009      False       Pisces
4   03-11-2009       True       Pisces
5   03-26-2009      False        Aries
6   04-09-2009       True        Aries
7   04-25-2009      False       Taurus
8   05-09-2009       True       Taurus
9   05-24-2009      False       Gemini
10  06-07-2009       True       Gemini
11  06-22-2009      False       Cancer
12  07-07-2009       True       Cancer
13  07-22-2009      False       Cancer
14  08-06-2009       True          Leo
15  08-20-2009      False          Leo
16  09-04-2009       True        Virgo
17  09-18-2009      False        Virgo
18  10-04-2009       True        Libra
19  10-18-2009      False        Libra
20  11-02-2009       True      Scorpio
21  11-16-2009      False      Scorpio
22  12-02-2009       True  Saggitarius
23  12-16-2009      False  Sagittarius
24  12-31-2009       True    Capricorn

In [11]:
moonchart_df.to_csv('Boolean_MoonChart_2009.csv', index=False)

In [13]:
moon_format_df = pd.read_csv('FullMoons2009.csv')
moon_format_df

     Moon_Date Moon_Type         Sign
0    1/11/2009      Full    Capricorn
1     2/9/2009      Full     Aquarius
2    3/11/2009      Full       Pisces
3     4/9/2009      Full        Aries
4     5/9/2009      Full       Taurus
5     6/7/2009      Full       Gemini
6     7/7/2009      Full       Cancer
7     8/6/2009      Full          Leo
8     9/4/2009      Full        Virgo
9    10/4/2009      Full        Libra
10   11/2/2009      Full      Scorpio
11   12/2/2009      Full  Saggitarius
12  12/31/2009      Full    Capricorn

In [14]:
# Import dependecies for database connection
from config import db_password
from sqlalchemy import create_engine
# Connection string
db_string = f"postgresql://postgres:{db_password}@hoobaskanks.cem6bfyajguw.us-east-2.rds.amazonaws.com:5432/Horrorscopes"

In [15]:
# Create the engine
engine = create_engine(db_string)
print(engine)

Engine(postgresql://postgres:***@hoobaskanks.cem6bfyajguw.us-east-2.rds.amazonaws.com:5432/Horrorscopes)

In [17]:
# Connect to the db
moon_format_df.to_sql(name='full_moons_2009', con=engine)