In [1]:
# Add the Pandas dependency.
import pandas as pd
import pathlib as PATH

In [2]:
# Loading data
death_row_data = "Texas_death_row/death-row.csv"
texas_death_df = pd.read_csv(death_row_data, index_col=0)
texas_death_df

,Link,Last Name,First Name,Date of Birth,Gender,Race,Date Received,County,Date of Offense
TDCJ Number,,,,,,,,,
999606,Offender Information,Colone,Joseph,08/13/1978,M,Black,05/09/2017,Jefferson,07/31/2010
999605,Offender Information,Falk,John,11/19/1966,M,White,03/01/2017,Walker,09/24/2007
999604,Offender Information,"Wells, III",Amos,08/20/1990,M,Black,11/22/2016,Tarrant,07/01/2013
999603,Offender Information,Brownlow,Charles,09/16/1977,M,Black,05/23/2016,Kaufman,10/28/2013
999602,Offender Information,Bluntson,Demond,11/25/1975,M,Black,05/10/2016,Webb,06/19/2012
...,...,...,...,...,...,...,...,...,...
650,Offender Information,Fierro,Cesar,10/18/1956,M,Hispanic,02/26/1980,El Paso,02/27/1979
636,Offender Information,Aranda,Arturo,05/12/1948,M,Hispanic,05/18/1979,Victoria,07/31/1976
609,Offender Information,Jordan,Clarence,04/06/1956,M,Black,09/12/1978,Harris,10/14/1977
577,Offender Information,Earvin,Harvey,04/07/1958,M,Black,10/26/1977,Angelina,12/12/1976
541,Offender Information,Riles,Raymond,06/01/1950,M,Black,02/04/1976,Harris,04/11/1975

In [3]:
texas_death_df.isnull().sum()

Link               0
Last Name          0
First Name         0
Date of Birth      0
Gender             0
Race               0
Date Received      0
County             0
Date of Offense    0
dtype: int64

In [4]:
texas_death_df.isna().sum()

Link               0
Last Name          0
First Name         0
Date of Birth      0
Gender             0
Race               0
Date Received      0
County             0
Date of Offense    0
dtype: int64

In [5]:
texas_death_df.drop(columns=['Link', 'Race', 'Date Received', 'County'], axis=1, inplace=True)
texas_death_df

              Last Name First Name Date of Birth Gender Date of Offense
TDCJ Number
999606           Colone     Joseph    08/13/1978      M      07/31/2010
999605             Falk       John    11/19/1966      M      09/24/2007
999604       Wells, III       Amos    08/20/1990      M      07/01/2013
999603         Brownlow    Charles    09/16/1977      M      10/28/2013
999602         Bluntson     Demond    11/25/1975      M      06/19/2012
...                 ...        ...           ...    ...             ...
650              Fierro      Cesar    10/18/1956      M      02/27/1979
636              Aranda     Arturo    05/12/1948      M      07/31/1976
609              Jordan   Clarence    04/06/1956      M      10/14/1977
577              Earvin     Harvey    04/07/1958      M      12/12/1976
541               Riles    Raymond    06/01/1950      M      04/11/1975

[238 rows x 5 columns]

In [6]:
texas_death_df.dtypes

Last Name          object
First Name         object
Date of Birth      object
Gender             object
Date of Offense    object
dtype: object

In [7]:
texas_death_df.to_csv('texas_death_bday.csv', encoding='utf-8')